/* Common Button Styles */
.button {
  font-size: var(--font-size-base);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: var(--border-radius-sm);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
  display: inline-block;
  outline: 0;
  will-change: box-shadow, transform;
  background: radial-gradient(100% 100% at 100% 0%, #559d00 0%, rgb(31 192 0) 100%);
  box-shadow: 0px 4px 8px rgb(255 255 255 / 40%), 0px 7px 13px -3px rgb(233 221 0 / 30%), inset 0px -3px 0px #000000;
  border-radius: 6px;
  color: #fff;
  width: 80%;
  height: 40px;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  outline: none;
}

.button:disabled {
  display: inline-block;
  outline: 0;
  border: 0;
  will-change: box-shadow, transform;
  box-shadow: 0px 4px 8px rgb(255 255 255 / 40%), 0px 7px 13px -3px rgb(233 221 0 / 30%), inset 0px -3px 0px #000000;
  border-radius: 6px;
  min-width: 35vw;
  margin: 0px 2px;
  height: 40px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  background: gray;
  color: white;
  cursor: not-allowed;
}

.button:hover {
  box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #b7aeae;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: inset 0px 3px 7px #a3a5b0;
  transform: translateY(2px);
}

.button--primary {
  background: var(--gradient-primary);
  color: var(--text-light);
}

/* Common Card Styles */
.card {
  background: var(--text-light);
  border-radius: var(--border-radius-md);
  padding: var(--spacing-sm);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Common Layout Utilities */
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.gap-sm {
  gap: var(--spacing-xs);
}

.gap-md {
  gap: var(--spacing-sm);
}

.input{
  outline: none;
}